<!-- Navbar - Right Side -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary100">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">Njord</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
                                               data-target="#navbarSupportedContent"
                                               aria-controls="navbarSupportedContent" aria-expanded="false"
                                                                                      aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar - Left Side -->
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}#dwm">DWM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}#st">ST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}#dmenu">DMENU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}#sobre">SOBRE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}#blog">BLOG</a>
      </li>
    </ul>
  </div>
</nav>
