---
layout: default
---

{%- include header.html -%}
<div class="home">
  <!-- DWM section -->
  <section id="dwm">
    <div class="card mb-10 mx-2">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="card-img" src="..." alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">DWM</h5>
            <p class="card-text">DWM é um Tiling Window Manager criado pelo 
            time de desenvolvimento Suckless que tem como pontos fortes a
            pouca quantidade de código fonte(1000 linhas em sua versão
            original), a extensibilidade a partir da linguagem C e sua 
            leveza.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ST section -->
  <section id="st">
    <div class="card mb-10 mx-2">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">DWM</h5>
            <p class="card-text">DWM é um Tiling Window Manager criado pelo 
            time de desenvolvimento Suckless que tem como pontos fortes a
            pouca quantidade de código fonte(1000 linhas em sua versão
            original), a extensibilidade a partir da linguagem C e sua 
            leveza.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="card-img" src="..." alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- DMENU section -->
  <section id="dwm">
    <div class="card mb-10 mx-2">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img class="card-img" src="..." alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">DWM</h5>
            <p class="card-text">DWM é um Tiling Window Manager criado pelo 
            time de desenvolvimento Suckless que tem como pontos fortes a
            pouca quantidade de código fonte(1000 linhas em sua versão
            original), a extensibilidade a partir da linguagem C e sua 
            leveza.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SOBRE section -->
  <section id="dwm">
    <div class="card mb-10 mx-2">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">DWM</h5>
            <p class="card-text">DWM é um Tiling Window Manager criado pelo 
            time de desenvolvimento Suckless que tem como pontos fortes a
            pouca quantidade de código fonte(1000 linhas em sua versão
            original), a extensibilidade a partir da linguagem C e sua 
            leveza.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="card-img" src="..." alt="">
        </div>
      </div>
    </div>
  </section>



  <!-- Default version -->
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
